#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1 {
    color: white;
    text-align: center;
}

/* .card-wrapper {
    background: blue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-wrapper .card  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e2e2e2;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.card-wrapper .card {
    font-size: 20px;
} */